<<ion-view view-title="เปลี่ยนรหัสผ่าน">
  <ion-content>
  	<form name="changePassForm">
  		<ion-list>
	   		<label class="item item-input item-stacked-label">
	   			<span class="input-label">รหัสผ่านเดิม</span>
	   			<input type="password" ng-model="data.oldPass" name="oldPass" required>
	   		</label>
	   		<label class="item item-input item-stacked-label">
	   			<span class="input-label">รหัสผ่านใหม่</span>
	   			<input type="password" ng-model="data.newPass" name="newPass" placeholder="รหัสผ่านมากกว่า 6 ตัว" required>
	   		</label>
	   		<label class="item item-input item-stacked-label">
	   			<span class="input-label">ยืนยันรหัสผ่านใหม่</span>
	   			<input type="password" ng-model="data.newPassConfirm" name="newPassConfirm" placeholder="รหัสผ่านมากกว่า 6 ตัว" required>
	   		</label>
	   		<div class="content padding has-header">
	   			<button class="button button-block button-assertive" ng-disabled="changePassForm.oldPass.$pristine || changePassForm.$invalid" ng-click="checkPassword()">ตกลง</button>
	   		</div>
    	</ion-list>
  	</form>
  </ion-content>
</ion-view>