<ion-view view-title="รายละเอียดสินค้า">
	<ion-content>
		<ion-list>
			<li class="item">
				<div class="row">
					<div class="col col-50 forImageDetailProduct">
						<img ng-repeat="image in forImageDetail" ng-src="{{image.image}}" ng-click="showImages($index)">
					</div>
					<div class="col">
						<p>ชื่อสินค้า : {{productdata.nameProduct}}</p>
						<p>ชื่อผู้ผลิต : {{productdata.nameOwned}}</p>
						<p>รูปแบบการผลิต : {{productdata.stockProduct}}</p>
						<p>สถานที่ตั้ง : <a href="#" ng-click="loadUserGroup()" style="text-decoration:none;">{{productdata.nameGroup}}</a></p>
						<p style="text-align:center;">
							<a href="#" ng-click="loadLocation(productdata.lat, productdata.lng, productdata.address)"><i class="icon ion-ios-location forIconDetailProduct"></i></a>
							<a href="#" ng-click="loadDirection(productdata.lat, productdata.lng, productdata.address)"><i class="icon ion-navigate forIconDetailProduct"></i></a>
						</p>
					</div>
				</div>
			</li>
			<li class="item item-text-wrap">
				<p>รายละเอียด : {{productdata.detailProduct}}</p>
			</li>
			<li class="item row" style="text-align:center;">
				<div class="fixedRating col col-50">
					<rating ng-model="productdata.ratingProduct" max="5" readonly="true"></rating>
					<span style="display:block;">({{productdata.ratingProduct}} จาก 10,000)<i class="icon ion-person" style="font-size:20px; padding-left:3px;"></i></span>
					<span style="text-align:center;">100,00{{productdata.viewProduct}}<i class="icon ion-eye" style="font-size:20px;"></i></span>
				</div>
				<div class="col">
					<button class="button button-small button-positive" ng-click="buyProduct()" style="width:80%;"><i class="icon ion-ios-cart-outline" style="padding-right: 10px;"></i>ซื้อ</button>
				</div>
			</li>
			<li class="item" ng-if="ratingComment == ''" style="text-align:center;">ไม่มีความคิดเห็น</li>
			</li>
			<li class="item" ng-repeat="ratComData in ratingComment | orderBy : '-comment_date'">
				<div><p>ความคิดเห็น</p></div>
				<div class="row">
					<div class="col col-33">
						<a href="#" ng-click="loadProfile()"><img src="{{ratComData.user_image}}" style="width:80px; height:80px;"></a>
					</div>
					<div class="col">
						<p>
							{{ratComData.first_name}} {{ratComData.last_name}}
							<span style="padding-left:5px; float:right;">({{ratComData.comment_date | date: "dd/MM/yyyy"}})</span>
						</p>
						<p class="fixedRating">
							<rating ng-model="ratComData.rating" max="5" readonly="true"></rating>
						</p>
						<p>
							{{ratComData.comment}}
						</p>
					</div>
				</div>
			</li>
			<li class="item" ng-if="ratComLength > 0" style="text-align:center;">
				<a href="#/app/allComment/{{productdata.idProduct}}">ความคิดเห็นทั้งหมด</a>
			</li>
		</ion-list><br/><br/>
	</ion-content>
</ion-view>
<div class="tabs-assertive tabs-icon-top tabs-striped">
	<div class="tab-nav tabs">
		<a class="tab-item">
			<i class="icon ion-person-stalker"></i>
			พูดคุย
		</a>
		<a class="tab-item" ng-click="callToOwned()">
			<!-- <access origin="tel:*" launch-external="yes"/> -->
			<i class="icon ion-ios-telephone"></i>
			ติดต่อ
		</a>
		<a class="tab-item" ng-click="reportProduct()">
			<i class="icon ion-android-alert"></i>
			รายงาน
		</a>
	</div>
</div>

<script id="templates/showProfile.html" type="text/ng-template">
	<ion-list>
		<li class="item" style="background-color: #A9D0F5;">
			<div class="user-profile">
				<a class="item image-profile" style="margin: auto;">
					<img name="profile_image" ng-src="{{profileData[0].user_image}}"/>
				</a>
			</div>
		</li>
		<li class="item">
			<div class="row">
				<span class="input-label col col-33" style="display:inline"><b>ชื่อ</b></span><span class="input-label col" style="display:inline">{{profileData[0].first_name}} {{profileData[0].last_name}}</span>
			</div>
		</li>
		<li class="item">
			<div class="row">
				<span class="input-label col col-33" style="display:inline"><b>ที่อยู่</b></span><span class="input-label col" style="display:inline">{{profileData[0].address}}</span>
			</div>
		</li>
		<li class="item">
			<div class="row">
				<span class="input-label col col-50" style="display:inline"><b>เบอร์ติดต่อ</b></span><span class="input-label col" style="display:inline">{{profileData[0].tel_no}}</span>
			</div>
		</li>
	</ion-list>
</script>

<script id="templates/showUserGroup.html" type="text/ng-template">
	<ion-list>
		<li class="item" style="background-color: #F3E2A9;">
			<ion-scroll direction="x" overflow-scroll="false" style="overflow:hidden;">
				<div class="row">
					<a class="onePicture" ng-repeat="images in userGroupData">
						<img class="imageUserGroup" ng-src="{{images.image}}"/>
					</a>
				</div>
			</ion-scroll>
		</li>
		<li class="item">
			<div class="row">
				<span class="input-label col col-33" style="display:inline"><b>ชื่อกลุ่ม</b></span><span class="input-label col" style="display:inline">{{userGroupData[0].group_name}}</span>
			</div>
		</li>
		<li class="item">
			<div class="row">
				<span class="input-label col col-33" style="display:inline"><b>ที่อยู่</b></span><span class="input-label col" style="display:inline">{{userGroupData[0].address_location}}</span>
			</div>
		</li>
		<li class="item">
			<div class="row">
				<span class="input-label col col-50" style="display:inline"><b>เบอร์ติดต่อ</b></span><span class="input-label col" style="display:inline">{{userGroupData[0].tel_no}}</span>
			</div>
		</li>
	</ion-list>
</script>

<script id="templates/markMapGoogle.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar>
		  	<h1 class="title">สถานที่ตั้งของเครือข่าย</h1>
		  	<button class="button" ng-click="closeMaps()">ปิด</button>
		</ion-header-bar>
		<ion-content scroll="false">
		  	<div id="map_canvas" style="height:100%;"></div>
		</ion-content>
	</ion-modal-view>
</script>

<script id="templates/directionMapGoogle.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar>
		  	<h1 class="title">เส้นทางไปยังที่ตั้ง</h1>
		  	<button class="button" ng-click="closeDirecMaps()">ปิด</button>
		</ion-header-bar>
		<ion-content scroll="false">
		  	<div id="map_canvas" style="height:100%;"></div>
		  	<button class="button button-balanced pathDirection" ng-click="openGoogleApp()"><i class="ion-social-google-outline" style="font-size:20px;"></i>oogleMaps</button>
		</ion-content>
	</ion-modal-view>
</script>