<ion-view view-title="รายละเอียดสินค้า">
	<ion-content>
		<ion-list>
			<li class="item">
				<div class="row">
					<div class="col col-50">
						<a href="#"><img src="img/ionic.png" class="forFirstDetailProduct"></a>
						<div>
							<img ng-repeat="test in testImg" ng-src="{{test.src}}" class="forNextDetailProduct" ng-click="showImages($index)">
						</div>
					</div>
					<div class="col">
						<p>ชื่อสินค้า : {{nameProduct}}</p>
						<p>ชื่อผู้ผลิต : {{nameOwned}}</p>
						<p>สถานที่ตั้ง : {{address}}</p>
						<p style="text-align:center;"><i class="icon ion-ios-location forIconDetailProduct"></i><i class="icon ion-navigate forIconDetailProduct"></i></p>
					</div>
				</div>
			</li>
			<li class="item item-text-wrap">
				<p>รายละเอียด : {{detailProduct}}</p>
			</li>
			<li class="item">
				<div>
					<i class="icon ion-ios-star" style="font-size:26px; color:yellow;"></i>
					<i class="icon ion-ios-star" style="font-size:26px; color:yellow;"></i>
					<i class="icon ion-ios-star" style="font-size:26px; color:yellow;"></i>
					<i class="icon ion-ios-star" style="font-size:26px; color:yellow;"></i>
					<i class="icon ion-ios-star-half" style="font-size:26px; color:yellow;"></i>
					<span style="padding-left:3px;">{{ratingProduct}} จาก 10,000 <i class="icon ion-person" style="font-size:20px; padding-left:3px;"></i></span>
				</div>
				<div style="padding-top:7px;">
					<span>{{viewProduct}}<i class="icon ion-eye" style="padding-left:3px; font-size:20px; padding-right:30%;"></i></span>
					<button class="button button-small button-assertive" ng-click="buyProduct()"><i class="icon ion-ios-cart-outline" style="padding-right:10px;"></i>ซื้อ</button>
				</div>
			</li>
			<li class="item">
				<div><p>ความคิดเห็น</p></div>
				<div class="row">
					<div class="col col-33">
						<a><img src="img/ionic.png" style="width:80px;"></a>
					</div>
					<div class="col">
						<p>Name Jar </p>
						<p>
							<i class="icon ion-ios-star" style="font-size:20px; color:yellow;"></i>
							<i class="icon ion-ios-star" style="font-size:20px; color:yellow;"></i>
							<i class="icon ion-ios-star" style="font-size:20px; color:yellow;"></i>
							<i class="icon ion-ios-star" style="font-size:20px; color:yellow;"></i>
							<i class="icon ion-ios-star" style="font-size:20px; color:yellow;"></i>
							<span style="padding-left:5px;">(25/9/2556)</span>
						</p>
						<p>
							สมุนไพรคัวนี้ดีมากคร้าบบบบบบบบบบบบบบบบบบบบบบบบบ
						</p>
					</div>
				</div>
			</li>
			<li class="item">
				<div><p>ความคิดเห็น</p></div>
				<div class="row">
					<div class="col col-33">
						<a href="#"><img src="img/ionic.png" style="width:80px;"></a>
					</div>
					<div class="col">
						<p>Name Jar </p>
						<p>
							<i class="icon ion-ios-star" style="font-size:20px; color:yellow;"></i>
							<i class="icon ion-ios-star" style="font-size:20px; color:yellow;"></i>
							<i class="icon ion-ios-star" style="font-size:20px; color:yellow;"></i>
							<i class="icon ion-ios-star" style="font-size:20px; color:yellow;"></i>
							<i class="icon ion-ios-star" style="font-size:20px; color:yellow;"></i>
							<span style="padding-left:5px;">(25/9/2556)</span>
						</p>
						<p>
							สมุนไพรคัวนี้ดีมากคร้าบบบบบบบบบบบบบบบบบบบบบบบบบ
						</p>
					</div>
				</div>
			</li>
		</ion-list><br/><br/>
	</ion-content>
</ion-view>
<ion-tabs class="tabs-assertive tabs-icon-top">
	<a class="tab-item">
		<i class="icon ion-person-stalker"></i>
		พูดคุย
	</a>
	<a class="tab-item" ng-click="callToOwned()">
		<i class="icon ion-ios-telephone"></i>
		ติดต่อ
	</a>
	<a class="tab-item" ng-click="reportProduct()">
		<i class="icon ion-android-alert"></i>
		รายงาน
	</a>
</ion-tabs>