<ion-view view-title="แก้ไขเครือข่าย">
	<ion-content>
		<form name="userGroupForm">
			<ion-list>
				<ion-scroll direction="x" overflow-scroll="false" style="overflow:hidden;">
					<div class="row">
						<a class="onePicture" ng-repeat="image in images">
							<img class="imageUserGroup" ng-src="{{image.imageUri}}" on-release="deletePicture(image)"/>
						</a>
						<a class="forAroundPlus" ng-click="addMedia()" ng-if="imgLength != 6">
							<i class="icon ion-plus-round forIconPlus"></i>
						</a>
					</div>
				</ion-scroll>
				<label class="item item-input item-stacked-label item-icon-right">
					<span class="input-label">ชื่อ (กลุ่ม/ร้าน)</span>
					<input type="text" name="nameGroup" ng-model="editGroupData.nameGroup" placeholder="ชื่อ (กลุ่ม/ร้าน)" required/>
					<i ng-show="userGroupForm.nameGroup.$error.required && !userGroupForm.nameGroup.$pristine" class="icon ion-close-circled" style="color:red;"></i>
				</label>
				<label class="item item-input item-stacked-label item-icon-right" ng-click="openMaps(editGroupData.placeLat, editGroupData.placeLng, editGroupData.placeGroup)">
					<span class="input-label">สถานที่</span>
					<i class="icon ion-ios-location" style="color:blue; font-size:20px;"></i>
					<p>{{editGroupData.placeGroup}}</p>
					<input type="hidden" name="placeGroup" ng-model="editGroupData.placeGroup" required/>
					<i ng-show="userGroupForm.placeGroup.$error.required && !userGroupForm.placeGroup.$pristine" class="icon ion-close-circled" style="color:red;"></i>
				</label>
				<label class="item item-input item-stacked-label item-icon-right">
					<span class="input-label">เบอร์ติดต่อ</span>
					<input type="tel" name="telephone" ng-model="editGroupData.telephone" placeholder="เบอร์ติดต่อ" required/>
					<i ng-show="userGroupForm.telephone.$error.required && !userGroupForm.telephone.$pristine" class="icon ion-close-circled" style="color:red;"></i>
				</label>

				<div class="content padding has-header">
					<button class="button button-block button-positive button-assertive" ng-click="preUpdateUserGroup()" ng-disabled="userGroupForm.$invalid || userGroupForm.$pristine">ยืนยัน</button>
				</div>
			</ion-list>
		</form>
	</ion-content>
</ion-view>

<script id="templates/mapGoogle.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar>
		  	<h1 class="title">สถานที่ตั้งของเครือข่าย</h1>
		  	<button class="button" ng-click="closeMaps()">ปิด</button>
		</ion-header-bar>
		<ion-content scroll="false">
			<input id="pac-input" type="text" class="controls" placeholder="Search Box">
		  	<div id="map_canvas" style="height:100%;" data-tap-disabled="true"></div>
		</ion-content>
	</ion-modal-view>
</script>
