<ion-view view-title="แก้ไขสินค้า">
	<ion-content>
		<form name="productForm">
			<ion-list>
				<ion-scroll direction="x" overflow-scroll="false" style="overflow:hidden;">
					<div class="row">
						<a class="onePicture" ng-repeat="image in images">
							<img class="imageUserGroup" ng-src="{{image.imageUri}}" on-release="deletePicture(image)"/>
						</a>
						<a class="forAroundPlus" ng-click="addMedia()" ng-if="imgLength != 6">
							<i class="icon ion-plus-round forIconPlus"></i>
						</a>
					</div>
				</ion-scroll>
				<label class="item item-input item-stacked-label">
					<span class="input-label">รหัสสินค้า</span>
					<input type="text" placeholder="รหัสสินค้า (ถ้ามี)" ng-model="products.productId" name="productId" />
					<i ng-show="productForm.productId.$error.required && !productForm.productId.$pristine" class="icon ion-close-circled" style="color:red;"></i>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">ชื่อสินค้า</span>
					<input type="text" placeholder="ชื่อสินค้า" ng-model="products.productName" name="productName" />
					<i ng-show="productForm.productName.$error.required && !productForm.productName.$pristine" class="icon ion-close-circled" style="color:red;"></i>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">ราคาสินค้า</span>
					<input type="number" placeholder="ราคาสินค้า" min="1" ng-model="products.productPrice" name="productPrice" />
					<i ng-show="productForm.productPrice.$error.required && !productForm.productPrice.$pristine" class="icon ion-close-circled" style="color:red;"></i>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">จำนวนสินค้า</span>
					<input type="number" placeholder="ราคาสจำนวนสินค้าินค้า" min="1" ng-model="products.productAmount" name="productAmount" />
					<i ng-show="productForm.productAmount.$error.required && !productForm.productAmount.$pristine" class="icon ion-close-circled" style="color:red;"></i>
				</label>
				<label class="item item-input item-select">
					<div class="input-label">
						หมวดหมู่
					</div>
					<select name="categoryText" ng-model="products.categoryText">
						<option>อาหาร</option>
						<option>เครื่องดื่ม</option>
						<option>ผ้า เครื่องแต่งกาย</option>
						<option>ของใช้และของประดับตกแต่ง</option>
						<option>ศิลปะประดิษฐ์และของที่ระลึก</option>
						<option>สมุนไพรที่ไม่ใช่อาหาร</option>
					</select>
				</label>
				<label class="item item-input item-select">
					<div class="input-label">
						เครือข่าย
					</div>
					<select name="idGroup" ng-model="products.idGroup" ng-options="userGroup.group_id as userGroup.group_name for userGroup in userGroupData" required>
						<option value="">เลือกเครือข่าย</option>
						<!--<option ng-selected="{{products.idGroup == userGroup.group_id}}" ng-repeat="userGroup in userGroupData" value="{{userGroup.group_id}}">{{userGroup.group_name}}</option>-->
					</select>
				</label>
				<div class="content padding has-header">
					<button class="button button-block button-positive button-assertive" ng-click="preUpdateProduct()" ng-disabled="productForm.$invalid || productForm.$pristine">ยืนยัน</button>
				</div>

			</ion-list>
		</form>
	</ion-content>
</ion-view>