<ion-modal-view>
  <ion-content>
    <form name="loginForm">
      <ion-list>
        <ion-item class="item-image">
          <button class="button top-right" ng-click="closeLogin()" style="position:absolute; top:10px; right:10px;">ปิด</button>
          <img src="img/login-img.jpg" style="width:100%;">
        </ion-item>
        <label class="item item-input item-floating-label">
          <span class="input-label">อีเมล</span>
          <div class="row" ng-controller="PasswordCtrl">
            {{test}}
          </div>
          <input type="email" ng-model="loginData.username" name="email" placeholder="อีเมล">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">รหัสผ่าน</span>
          <input type="password" ng-model="loginData.password" placeholder="รหัสผ่าน">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-click="doLogin()">เข้าสู่ระบบ</button>
        </label>
      </ion-list>

      <br /><br />

      <div class="row" ng-controller="PasswordCtrl">
{{test}}
        <div class="col"></div>
        <a class="col col-50" style="text-align: center; border-width: 0px;" ng-click="sendPassword(loginData.username)">
          <i class="icon ion-key" style="font-size: 20px;">
            <span style="font-size: 15px;"><u>ลืมรหัสผ่าน</u></span>
          </i>
        </a>
        <div class="col"></div>
      </div>

    </form>
  </ion-content>
</ion-modal-view>