<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <div class="menuProfile">
          <img src="img/ionic.png">
          <h2>email.email.com</h2>
          <p>Name Lastname</p>
        </div>
        <ion-item>
          <label class="item item-input" style="background-color:#E8E8E8 ;">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
          </label>
          <div class="range range-positive" style="padding-left:0; padding-right:0;">
            <label>ราคา</label>
            <input type="range" min="0" max="100" ng-model="test">
            <label>{{test}}</label>
            <a class="button button-icon icon ion-search"></a>
          </div>
        </ion-item>
        <ion-item class="item item-complex">
          <div class="groupList"><i class="ion-android-cart" style="color:RoyalBlue;"></i><a href="#/app/playlists">รายการสินค้า</a></div>
        </ion-item>
        <ion-item class="item item-complex">
          <div class="groupList"><i class="ion-unlocked"></i><a href="">เข้าสู่ระบบ</a></div>
          <div class="groupList"><i class="ion-android-person-add"></i><a href="#/app/register">สมัครสมาชิก</a></div>
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close ng-click="logout()">
          <i class="ion-close-circled" style="color:red; padding-right: 15px;"></i>ออกจากระบบ
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
