<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <div class="menuProfile" ng-if="dataUser">
          <img src="{{imageMenu}}">
          <h2>{{userData.email}}</h2>
          <p>{{userData.first_name}} {{userData.last_name}}</p>
        </div>

        <ion-item>
          <label class="item item-input" style="background-color:#E8E8E8 ;">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="ค้นหา" ng-model="dataSearch">
          </label>
          <div class="range range-positive" style="padding-left:0; padding-right:0;">
            <label>ราคา</label>
            <input type="range" min="50" max="10000" ng-model="priceValue">
            <label>{{priceValue}}</label>
            <!-- <a class="button button-icon icon ion-search" style="color:blue;" ng-click="doSearch(dataSearch, priceValue)"></a> -->
          </div>
          <button menu-close class="button button-block button-outline button-positive" style="margin-top:0px; margin-bottom:0px;" ng-click="doSearch(dataSearch, priceValue)">ค้นหา</button>
        </ion-item>

        <ion-item menu-close class="item item-complex">
          <a class="menuTagA" href="#/app/products">
            <div class="groupList">
              <i class="ion-android-cart" style="color:RoyalBlue;"></i>
              รายการสินค้า
            </div>
          </a>
        </ion-item>

        <ion-item menu-close class="item item-complex" ng-if="dataUser">
          <a class="menuTagA" href="#/app/profile">
            <div class="groupList">
              <i class="ion-edit"></i>
              ข้อมูลส่วนตัว
            </div>
          </a>
          <a class="menuTagA" href="#/app/showProducts">
            <div class="groupList">
              <i class="ion-tshirt" style="color:#01A9DB;"></i>
              สินค้าที่ลงขาย
            </div>
          </a>
          <a class="menuTagA" href="#/app/userGroup">
            <div class="groupList">
              <i class="ion-person-add"></i>
              เครือข่าย
            </div>
          </a>
        </ion-item>

        <ion-item menu-close class="item item-complex" ng-if="dataUser">
          <a class="menuTagA" href="#/app/orderBuyer">
            <div class="groupList">
              <i class="ion-clipboard" style="color:orange;"></i>
              ประวัติการซื้อ
            </div>
          </a>
          <a class="menuTagA" href="#/app/orderSeller">
            <div class="groupList">
              <i class="ion-document-text" style="color:blue;"></i>
              ประวัติการขาย
            </div>
          </a>
          <a class="menuTagA" href="#/app/bankaccount">
            <div class="groupList">
              <i class="ion-cash" style="color:green;"></i>
              บัญชีธนาคาร
            </div>
          </a>
          <a class="menuTagA" href="#/app/statement">
            <div class="groupList">
              <i class="ion-stats-bars" style="color:LightSeaGreen;"></i>
              ผลการรายงาน
            </div>
          </a>
        </ion-item>

        <ion-item menu-close class="item item-complex" ng-if="!dataUser">
          <a class="menuTagA" href="">
            <div class="groupList" ng-click="login()">
              <i class="ion-unlocked" style="color:green;"></i>
              เข้าสู่ระบบ
            </div>
          </a>
          <a class="menuTagA" href="#/app/register">
            <div class="groupList">
              <i class="ion-android-person-add" style="color:orange;"></i>
              สมัครสมาชิก
            </div>
          </a>
        </ion-item>

        <ion-item menu-close class="item item-complex" ng-if="dataUser">
          <a class="menuTagA" href="#/app/mainChat">
            <div class="groupList">
              <i class="ion-chatbubbles" style="color:brown;"></i>
              การสนทนา
            </div>
          </a>       
        </ion-item>

        <ion-item menu-close class="item item-complex" ng-if="dataUser">
          <a class="menuTagA" href="#/app/editPassword">
            <div class="groupList">
              <i class="ion-key"></i>
              เปลี่ยนรหัสผ่าน
            </div>
          </a>
          <a class="menuTagA" href="#" ng-click="logout()">
            <div class="groupList">
              <i class="ion-close-circled" style="color:red; padding-right: 15px;"></i>ออกจากระบบ
            </div>
          </a>          
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
