<ion-view view-title="ประวัติการซื้อ-ขาย">
	<ion-content>
		<ion-list>
			<li class="item" ng-if="orderData == ''" style="text-align:center;">ไม่มีการเปลี่ยนแปลง</li>
			<div ng-repeat="orData in orderData | orderBy : '-order_log_date'">
				<div class="item item-divider">
					{{orData.order_log_date | date : "dd/MM/yyyy 'ณ' h:mma"}}
				</div>

				<a class="item">
					<p><b>มีการเปลี่ยนแปลงจาก : </b>{{orData.first_name}}</p>
					<p><b>จากสถานะ : </b>{{orData.order_before_status}}</p>
					<p><b>เป็นสถานะ : </b>{{orData.order_after_status}}</p>
				</a>
			</div>
		</ion-list>
	</ion-content>
</ion-view>