<ion-view view-title="สรุปผลรายงาน">
	<ion-content>
		<div class="list">
			<div class="item item-divider">
				ปฏิทิน
			</div>
			<label class="item item-input">
				<span class="input-label">วันที่</span>
				<input type="date" name="date.picked" ng-model="date.picked" ng-change="dateChanged()">
			</label>
			<div class="item item-divider">
				วันที่ : {{date.picked | date: "dd/MM/yyyy"}}
			</div>
			<label class="item" ng-if="buyer != ''">
				<canvas id="doughnut" class="chart chart-doughnut" chart-data="priceDay" chart-labels="buyer" chart-legend="true"></canvas>
			</label>
			<label class="item" ng-if="buyer == ''" style="text-align:center;">
				ไม่มีรายการขายในวันนี้
			</label>
			<div class="item item-divider">
				ภายในเดือน : {{date.picked | date: "dd/MM/yyyy"}}
			</div>
			<label class="item" ng-if="orderDate != ''">
				<canvas id="line" class="chart chart-line" chart-data="priceMonth" chart-labels="orderDate" chart-legend="true" chart-series="series"></canvas> 
			</label>
			<label class="item" ng-if="orderDate == ''" style="text-align:center;">
				ไม่มีรายการขายในเดือนนี้
			</label>
			<label class="item" style="text-align:center;">
				<button class="button button-clear button-positive" ng-click="dayDetail()">
					ดูรายละเอียดทั้งหมด
				</button>
			</label>
		</div>
	</ion-content>
</ion-view>

<script id="dayModal.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar>
			<h1 class="title">รายละเอียด</h1>
			<button class="button button-clear button-primary" ng-click="closeDay()">ปิด</button>
		</ion-header-bar>
		<ion-content>
			<div class="list">
				<div ng-repeat="data in forModal">
					<div class="item item-divider">
						{{data.order_date | date: "dd/MM/yyyy"}}
					</div>
					<div class="item">
						{{data.product_name}} : {{data.product_price*data.order_amount}} โดย {{data.first_name}} {{data.last_name}}
					</div>
				</div>
			</div>
		</ion-content>
	</ion-modal-view>
</script>