<ion-view view-title="สินค้าจากการค้นหา">
	<ion-content>
		<ion-list ng-if="productData != ''">
			<a class="item item-thumbnail-left" href="#/app/detailProduct/{{product.product_id}}" ng-repeat="product in productData">
				<img src="{{product.image}}">
				<h2>{{product.product_name}}</h2>
				<p>
					{{product.product_rating | currency : '' : 0}}<i class="icon ion-ios-star" style="color:yellow; padding-right:7px;"></i>
					{{product.product_view}}<i class="icon ion-eye"></i>
				</p>
				<p>{{product.product_price | currency : 'ราคา : ' | limitTo: 16}}{{product.product_rating.length > 16 ? '&hellip;' : ''}}</p>
			</a>
		</ion-list>
		<ion-list ng-if="productData == ''">
			<div class="item" style="text-align: center;">
		    	ไม่พบข้อมูล
		    </div>
		</ion-list>
		<ion-infinite-scroll ng-if="moreDataCanBeLoaded" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>
</ion-view>