<ion-view view-title="ข้อมูลส่วนตัว">
	<ion-content>
		<ion-list>
			<div class="user-profile">
				<a class="item image-profile" ui-sref="#">
					<img src="./img/mr_bean.jpg" />
				</a>
			</div>

			<label class="item item-input item-stacked-label">
				<span class="input-label">ชื่อ</span>
				<input type="text" placeholder="ชื่อ" />
			</label>

			<label class="item item-input item-stacked-label">
				<span class="input-label">นามสกุล</span>
				<input type="text" placeholder="นามสกุล" />
			</label>

			<label class="item item-input item-stacked-label">
				<span class="input-label">ที่อยู่</span>
				<input type="text" placeholder="ที่อยู่" />
			</label>

			<label class='item item-input item-stacked-label'>
				<span class="input-label">เบอร์โทรศัพท์</span>
				<input type="tel" placeholder="เบอร์โทรศัพท์" />
			</label>

			<div>
				<ion-checkbox class="checkbox-square">ต้องการลงขายสินค้า</ion-checkbox>
			</div>

			<div class="content padding has-header">
				<button class="button button-block button-positive button-assertive">ยืนยัน</button>
			</div>

		</ion-list>
	</ion-content>
</ion-view>