<ion-view view-title="รายการสินค้า">
	<ion-content>
		<ion-list>
			<li class="item" ng-if="productData == ''" style="text-align:center;">ไม่มีรายการสินค้า</li>
			<ion-item class="item-thumbnail-left" href="#/app/editProducts/{{products.product_id}}" ng-repeat="products in productData">
				<img src="{{products.image}}">
				<h2>{{products.product_name}}</h2>
				<p>จำนวน : {{products.product_amount}}</p>
				<p>{{products.product_rating}}<i class="icon ion-ios-star" style="color:yellow; padding-right:10px;"></i>{{products.product_view}}<i class="icon ion-eye"></i></p>
				<ion-option-button class="button-assertive" ng-click="deleteProduct(products.product_id)">ลบ</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
	<a class="positionBottomRight" href="#/app/addProducts">
		<i class="ion-plus-circled setPositionPlus"></i>
	</a>
</ion-view>