<ion-view view-title="รายการสินค้า">
	<ion-content>
		<ion-list>
			<li class="item" ng-if="productData" style="text-align:center;">ไม่มีรายการสินค้า</li>
			<a class="item item-thumbnail-left" href="#">
				<img src="img/ionic.png">
				<h2>กระเป๋าหนัง</h2>
				<p>จำนวน : 20 ชิ้น</p>
				<p>4.0<i class="icon ion-ios-star" style="color:yellow; padding-right:10px;"></i>56,000<i class="icon ion-eye"></i></p>
			</a>
		</ion-list>
	</ion-content>
	<a class="positionBottomRight" href="#/app/addProducts">
		<i class="ion-plus-circled setPositionPlus"></i>
	</a>
</ion-view>